@import "./sizes.scss";

.footerWrapper {
  padding: 3rem;
  padding-top: 0;

  @media only screen and (max-width: $sm) {
    padding: 1rem;
  }
}

.bottomPart {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: $sm) {
  .cvr {
    display: none;
  }
}
