@import "./sizes.scss";

.heroWrapper {
  height: 100vh;
  max-height: 980px;
  position: relative;
}

.carouselWrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;

  @media only screen and (max-width: $sm) {
    height: 100vh;
  }

  @media only screen and (min-width: $sm) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.textWrapper {
  height: 100%;
  position: relative;
}

.logoTitle {
  display: none;
  font-size: 4em;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image {
  left: 50%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;

  @media only screen and (max-width: $sm) {
    min-width: auto;
    top: 47%;
    width: 225px;
  }

  div {
    pointer-events: none;
  }

  caption {
    color: var(--lightDark);
    display: block;
    display: none;
    font-style: italic;
    margin-top: 0.5rem;
    text-align: left;
  }
}

.headingWrapper {
  color: var(--dark);
  left: 3rem;
  font-size: clamp(22px, 7vw, 5vh);
  font-weight: 800;
  margin: 0 auto;
  position: absolute;
  top: 3rem;

  @media only screen and (max-width: $sm) {
    top: 1rem;
    left: 1rem;
  }
}

.descriptionWrapper {
  bottom: 3rem;
  color: var(--dark);
  max-width: calc(440px - 2rem);
  text-align: right;
  position: absolute;
  right: 3rem;
  z-index: 1;

  @media only screen and (max-width: $sm) {
    bottom: 3rem;
    left: 1rem;
    text-align: left;
  }

  p {
    font-size: 0.9em;
    margin-bottom: 0;
  }
}

.link {
  display: initial;
  font-size: 1.5em;
  isolation: isolate;
  position: relative;
}

.link::after {
  background-color: var(--dark);
  bottom: 0;
  content: '';
  height: 1px;
  right: 0;
  position: absolute;
  transition: width 0.6s var(--ease);
  width: 100%;
}

.link:hover {
  color: var(--main-accent);
}

.link:hover::after {
  transition: width 0.6s var(--ease);
  width: 0;
}

.SoMeLinks {
  bottom: 3rem;
  color: var(--dark);
  font-size: 1.5em;
  left: 3rem;
  position: absolute;
  z-index: 1;

  @media only screen and (max-width: $sm) {
    display: none;
  }
}

.SoMeLink {
  align-items: flex-start;
  display: flex;

  span {
    margin-right: 0.25rem;
  }
}

.SoMeLink:hover {
  color: var(--main-accent);
  cursor: pointer;
}
